/*
*	sugoiuguu.css
*	CSS for Finalchan based on sugoiuguu's CSS from his darkweb site
*/

@import url(https://fonts.googleapis.com/css?family=Questrial);

body {
	background: #d3e0d9;
	color: #363f3a;
	font-family: 'Questrial', sans-serif !important;
	font-size: 10pt;
	margin: 1.2%;
}

div.ban {
	background: transparent;
	border: none;
}

div.ban h2 {
	background: transparent;
	color: #34648b;
}

a:link, a:visited, p.intro a.email span.name, p.intro a.post_no, div.post.reply div.body a, h1 a {
    -moz-transition: 0.15s color;
	-webkit-transition: 0.15s color;
	-khtml-transition: 0.15s color;
	-o-transition: 0.15s color;
	-ms-transition: 0.15s color;
	transition:0.15s color;
}

div.post.reply.highlighted {
    -moz-transition: 0.15s background;
	-webkit-transition: 0.15s background;
	-khtml-transition: 0.15s background;
	-o-transition: 0.15s background;
	-ms-transition: 0.15s background;
	transition:0.15s background;
}

a, a:visited, a.email {
	text-decoration: none;
	color: #16804b;
}

a:hover {
	color: #1a9e5c;
	text-decoration: none;
}

h2, h1, header div.subtitle {
	font-family: 'Questrial', sans-serif;
	color: #1a9e5c;
}

h1 {
	letter-spacing: 1pt;
	font-size: 20pt;
	margin-top: 50px;
	font-weight: normal;
}

header div.subtitle {
	font-size: 12pt;
	margin-bottom: 50px;
}

div.boardlist {
	color: #414d47;
	text-align: center;
	align-content: center;
	font-size: 10pt;
	margin-bottom: 20px;
}

form table tr th {
	background: #d3e0d9 !important;
	color: #16804b !important;
	text-align: right;
	padding: 4px;
}

div.banner, div.banner a {
	background-color: transparent;
	color: #414d47;
}

input[type="text"], textarea, select {
	background: #c1ccc7;
	color: #414d47;
	padding-left: 5px;
	padding-right: -5px;
	height: auto;
	border: none;
	font-size: 10pt;
}

input[type="password"] {
	background: #c1ccc7;
	color: #414d47;
	border: none;
}

form table input, a.add_image {
	background: #c5d2cb;
	color: #414d47;
	border: none;
	margin-top: 1px;
	padding: 4px;
	font-family: 'Questrial', sans-serif;
}

a.add_image {
	padding-top: 5px;
	padding-bottom: 6px;
}

hr {
	border-color: #c5d2cb;
}

div.post.reply {
	background: #c1ccc7;
	border: none !important;
}

div.post.reply.highlighted {
	background: #bcc8c2;
}

div.post.reply div.body a {
	color: #16804b;
}

div.post.reply div.body a:hover {
	color: #1a9e5c;
}

span.quote {
	color: #44aa4e;
}

a.post_number:hover {
	color: #a54242;
}

.intro span.capcode {
	color: #a54242;
}

span.trip {
	color: #c88150;
}

img.banner, img.board_image {
	border: none;
}

.intro span.subject {
	color: #47769d;
	font-weight: normal;
}

.intro span.name {
	font-weight: normal;
}

.intro a.email span.name {
	color: #117743;
	font-weight: normal;
}

.intro a.email span.name:hover {
	color: #a54242;
}

div.pages {
	background: #c1ccc7;
	border: none;
	color: #414d47;
}

div.pages a.selected {
	color: #414d47;
}

div.styles {
	text-align: center;
	float: none;
}

.theme-catalog div.thread img {
	float: none!important;
	margin: auto;
	max-height: 150px;
	max-width: 120px;
	box-shadow: none;
	border: none;
}


.theme-catalog div.thread {
	background: #c5d2cb;
	border: 2px solid #c5d2cb;
	min-height: 250px;
}

.theme-catalog div.thread:hover {
	background: #bbc7c0;
}

.box-wrap {
	max-width: 670px;
	min-width: 332px;
	margin: 30px auto;
	overflow: auto;
	padding: 0;
}
.box {
	background: #c9d5cf;
	border: none;
	width: 330px;
	margin: 8px 0;
	padding: 0;
}
.box ul {
	padding: 2px 15px;
}
.box ul li {
	list-style: none;
	margin: 0;
}
.box.left {
	background: #c9d5cf;
	color: #414d47;
	border: none;
	float: left;
}
.box.right {
	background: #c9d5cf;
	color: #414d47;
	border: none;
	float: right;
}

.box h2 {
	padding: 3px 7px;
	font-size: 12pt;
}
.box.left h2 {
	background: #c9d5cf;
	color: #34648b;
}
.box.right h2 {
	background: #c9d5cf;
	color: #34648b;
}
.box img {
	float: none;
	margin: 10px auto;
}
